{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto px-4 py-6">
    <h2 class="text-2xl font-semibold mb-4">Student List</h2>
    {% if students %}
        <div class="overflow-x-auto">
            <table class="min-w-full bg-white shadow-md rounded-lg">
                <thead>
                    <tr class="bg-blue-600 text-white">
                        <th class="py-3 px-4 text-left">ID</th>
                        <th class="py-3 px-4 text-left">First Name</th>
                        <th class="py-3 px-4 text-left">Last Name</th>
                        <th class="py-3 px-4 text-left">Course</th>
                        <th class="py-3 px-4 test-left"> Salary </th>
                        <th class="py-3 px-4 test-left">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                        <tr class="border-b hover:bg-gray-100">
                            <td class="py-3 px-4">{{ faculty.id }}</td>
                            <td class="py-3 px-4">{{ faculty.first_name }}</td>
                            <td class="py-3 px-4">{{ faculty.last_name }}</td>
                            <td class="py-3 px-4">{{ faculty.course }}</td>
                            <td class="py-3 px-4"> {{ faculty.salary}} </td>
                            <td class="py-3 px-4">
                                <a href="{% url 'student-delete' student.id %}">Delete</a>
                                <a href="{% url 'student-update' student.id %}">Update</a>
                            </td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p class="text-gray-600">No students found.</p>
    {% endif %}
</div>
{% endblock %}