<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Management System</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="font-sans bg-gray-100">

    <!-- Header -->
    <header class="bg-blue-600 text-white p-4">
        <div class="container mx-auto flex justify-between items-center">
            <h1 class="text-2xl font-bold">Course Management System</h1>
            <nav>

                <ul class="flex space-x-6">
                    {% if request.user.is_authenticated %}
                    <li><a href="{% url 'home' %}" class="hover:text-gray-200">Home</a></li>

                    {% if request.user.is_staff %}
                    <li><a href="{% url 'profile'  %}" class="hover:text-gray-200">Faculty</a></li>
                    <li><a href="{% url 'student' %}" class="hover:text-gray-200">Students</a></li>
                    {% endif %}
                    <li><a href="{% url 'student_registration'  %}" class="hover:text-gray-200">Register</a></li>
                    <li><a href="#contact" class="hover:text-gray-200">Contact</a></li>
                    <li><a href="{% url 'logout' %}" class="hover:text-gray-200">Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}" class="hover:text-gray-200">Login</a></li>
                    <li><a href="{% url 'signup'  %}" class="hover:text-gray-200">Signup</a></li>

                    {% endif %}

                </ul>


            </nav>
        </div>
    </header>


    {% block content %}

    {% endblock %}

    <!-- Footer -->
    <footer class="bg-blue-600 text-white py-6">
        <div class="container mx-auto text-center">
            <p>&copy; 2025 Course Management System | All Rights Reserved</p>
            <div class="flex justify-center space-x-6 mt-4">
                <a href="#" class="hover:text-gray-200">Privacy Policy</a>
                <a href="#" class="hover:text-gray-200">Terms of Service</a>
                <a href="#" class="hover:text-gray-200">Contact Us</a>
            </div>
        </div>
    </footer>

</body>

</html>
